.dialogueLine {
  margin-bottom: 10pt;
}

h2 {
  font-family: Spectral SC, sans-serif;
  color: var(--colour-highlight);
  text-align: center;
}

p {
  font-family: Spectral;
}

p:hover {
  cursor: pointer
}

p.loading {
  background-color: green;
}

p.playing {
  background-color: blue;
}
