.menu {
  background: lightgrey;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  transform: translateX(-100%);
  overflow: scroll;
}

.menu.open {
  transform: translateX(0);
}

.menu li {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
