body {
    background-color: var(--colour-stone);
    color: var(--colour-neutral-900);
    font-family: Karla, sans-serif;
    font-size: 13pt;
}

div#root {
  height: 100%;
}

.appLayout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.appLayout div {
  flex-grow: 1;
}

.titleBar {
  padding: 7pt 5pt 7pt 5pt;
  flex-grow: 0 !important;
  display: flex;
}

.titleBar h1 {
  font-size: 16pt;
  font-weight: 600;
}
